<header id="cabecera">
    <div id="logo">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logotxt">
                <p> 
                    <span style="font-size: 38px;">Banco</span>                
                    <span style="font-size: 15px;">Big Money </span> 
                </p>         
            </div>
        </a>     
</div>
<div id="btnCabecera">
    <ul >
        <a id="btnSalirTransferencia" href="#Salir-Transferenca8">Salir</a>
    </ul>
</div>
</header>
<div class="container">
    <div class="row">
        <div id="columOpciones" class="col-3">
            <a [routerLink]="['/mi-cuenta']">
                <div class="card">
                    <h3>Mi cuenta</h3>
                </div>
            </a>
            <a [routerLink]="['/mi-perfil']">
                <div class="card">
                    <h3>Mi perfil</h3>
                </div>
            </a>
            <a [routerLink]="['/tipo-transferencia']">
                <div class="card" style="background-color: #4196F1; padding: 10px;">
                    <h3>Transferencia</h3>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <h3>Pagar servicios básicos </h3>
                </div>
            </a>
            <a [routerLink]="['/pago-tarjetas']">
                <div class="card">
                    <h3>Pagar tarjetas</h3>
                </div>
            </a>
        </div>
        <div class="col-9">
            <div id="cuadroTransferencia">
                <div id="contenidoTransferencia">
                    <div>
                        <h5 style="position: absolute; left: 75px; top: 50px;">
                            Monto a transferir
                        </h5>
                        <p id="signoDinero"> $ </p> 
                        <input placeholder="0" type="number" id="cuadroMonto">
                        <h5 style="position: absolute; left: 75px; top: 220px;">
                            Saldo disponible
                        </h5>
                        <h5 style="position: absolute; left: 75px; top: 270px;">
                            <h3>${{cuentas[0].saldo}}</h3>
                        </h5>
                        <h5 style="position: absolute; left: 75px; top: 320px;">
                            Ingrese el número de cuenta
                        </h5>
                        <p id="ejemplo">Ej:</p>
                        <input placeholder="2548625793" type="number" id="cuadroNumCuenta" disabled>
                        <div id="botonesTransferencia">
                            <button id="btnVerificar" disabled="true">Verificar</button>
                            <button id="btnTransferir" disabled="true">Transferir</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="piePagT"> 
    <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
    <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
    <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
    <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
        <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
    <div id="logoPie">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logoPietxt">
                <p> 
                    <span style="font-size: 38px;">Banco</span>                
                    <span style="font-size: 15px;">Big Money </span> 
                </p>         
            </div>
        </a>     
    </div>
</div>
