<body id="paginaFondo">
    <header id="cabecera">
        <div id="logo">
            <a href="index.html">
                <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
            </a>
            <a href="index.html">
                <div id="logotxt">
                    <p> 
                        <span style="font-size: 38px;">Banco</span>                
                        <span style="font-size: 15px;">Big Money </span> 
                    </p>         
                </div>
            </a>     
    </div>
    <div id="btnCabecera">
        <ul >
            <a id="btnSalirTransferencia" href="#Salir-Transferenca8">Salir</a>
        </ul>
    </div>
    </header>
    <div class="container">
        <div class="row">
            <div id="columOpciones" class="col-3">
                <a [routerLink]="['/mi-cuenta']">
                    <div class="card">
                        <h3>Mi cuenta</h3>
                    </div>
                </a>
                <a [routerLink]="['/mi-perfil']">
                    <div class="card">
                        <h3>Mi perfil</h3>
                    </div>
                </a>
                <a [routerLink]="['/tipo-transferencia']">
                    <div class="card" style="background-color: #4196F1; padding: 10px;">
                        <h3>Transferencia</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <h3>Pagar servicios básicos </h3>
                    </div>
                </a>
                <a [routerLink]="['/pago-tarjetas']">
                    <div class="card">
                        <h3>Pagar tarjetas</h3>
                    </div>
                </a>
            </div>
            <div class="col-9">
                <div id="cuadroTransferencia">
                    <div id="contenidoTransferencia">
                        <div>
                            <div id="botonesTransferencia">
                                <a [routerLink]="['/transferenciasA']" [queryParams]="{tipoCuenta: '1'}" >
                                    <button [ngStyle]="{'left': 
                                    (tipoCuentaA==true && tipoCuentaC==false && tipoCuentaV==false) ? '35%' : 
                                    (tipoCuentaA==true && tipoCuentaC==true && tipoCuentaV==false) ? '15%' : 
                                    ''}"
                                    id="btnTransferenciaI" *ngIf="tipoCuentaA==true" >Transferencia <br>Ahorro <br> {{cuentas[0].numeroCuenta}}</button>
                                </a>
                                <a [routerLink]="['/transferenciasC']" [queryParams]="{tipoCuenta: '2'}">
                                    <button [ngStyle]="{'left': 
                                    (tipoCuentaC==true && tipoCuentaA==false && tipoCuentaV==false) ? '35%' : 
                                    (tipoCuentaA==true && tipoCuentaC==true && tipoCuentaV==false) ? '55%' : 
                                    ''}"
                                    id="btnTransferenciaE" *ngIf="tipoCuentaC==true">Transferencia <br>Corriente <br> {{cuentas[1].numeroCuenta}}</button>
                                </a>
                                <a [routerLink]="['/transferenciasV']" [queryParams]="{tipoCuenta: '3'}">
                                    <button [ngStyle]="{'left': (tipoCuentaV==true && tipoCuentaC==false && tipoCuentaA==false) ? '35%' : ''}" id="btnTransferenciaV" *ngIf="tipoCuentaV==true">Transferencia <br>Vinculada <br> {{cuentas[2].numeroCuenta}}</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="piePagT"> 
        <div class="card">
            <h3>Para ti</h3>
            <br>
            <p>
                Cuentas
                Tarjetas de crédito
                Prestamos
            </p>
        </div>
        <div class="card">
            <h3>Para ti</h3>
            <br>
            <p>
                Cuentas
                Tarjetas de crédito
                Prestamos
            </p>
        </div>
        <div class="card">
            <h3>Para ti</h3>
            <br>
            <p>
                Cuentas
                Tarjetas de crédito
                Prestamos
            </p>
        </div>
        <div class="card">
            <h3>Para ti</h3>
            <br>
            <p>
                Cuentas
                Tarjetas de crédito
                Prestamos
            </p>
        </div>
            <div class="card">
            <h3>Para ti</h3>
            <br>
            <p>
                Cuentas
                Tarjetas de crédito
                Prestamos
            </p>
        </div>
        <div id="logoPie">
            <a href="index.html">
                <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
            </a>
            <a href="index.html">
                <div id="logoPietxt">
                    <p> 
                        <span style="font-size: 38px;">Banco</span>                
                        <span style="font-size: 15px;">Big Money </span> 
                    </p>         
                </div>
            </a>     
        </div>
    </div>
</body>