<header id="cabecera">
    <div id="logo">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logotxt">
                <p> 
                    <span style="font-size: 38px;">Banco</span>                
                    <span style="font-size: 15px;">Big Money </span> 
                </p>         
            </div>
        </a>     
</div>
<div id="btnCabecera">
    <ul >
        <a id="btnSalirTransferencia" [routerLink]="['/inicio']">Salir</a>
    </ul>
</div>
</header>
<div class="container">
    <div class="row">
        <div id="columOpciones" class="col-3">
            <a [routerLink]="['/mi-cuenta']">
                <div class="card" style="background-color: #4196F1; padding: 10px;">
                    <h3>Mi cuenta</h3>
                </div>
            </a>
            <a [routerLink]="['/mi-perfil']">
                <div class="card">
                    <h3>Mi perfil</h3>
                </div>
            </a>
            <a [routerLink]="['/tipo-transferencia']">
                <div class="card">
                    <h3>Transferencia</h3>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <h3>Pagar servicios básicos </h3>
                </div>
            </a>
            <a [routerLink]="['/pago-tarjetas']">
                <div class="card">
                    <h3>Pagar tarjetas</h3>
                </div>
            </a>
        </div>
        <div class="col-9">
            <div id="cuadroTransferencia">
                <div id="contenidoTransferencia">
                    <div>
                        <h5 style="position: absolute; left: 75px; top: 50px;">
                            Todos mis productos
                        </h5>
                        <h5 style="position: absolute; left: 75px; top: 100px;">
                            Mis Cuentas
                        </h5>
                        <a [routerLink]="['/detalle-cuenta']">
                            <div id="cuentasD">
                                <p id="textoD">
                                <span id="texto1D"><b>AHO{{cuentas[0].numeroCuenta.substring(cuentas[0].numeroCuenta.length - 3)}}</b></span> <br>
                                Nro. <span id="textoNumD">{{cuentas[0].numeroCuenta}}</span> 
                                </p>
                            </div>
                        </a>
                        <p id="signoDineroD1"> <b>${{cuentas[0].saldo}}</b> <br><span>Disponible</span> </p> 
                        
                        <h5 style="position: absolute; left: 75px; top: 250px;">
                            Mis tarjetas de crédito
                        </h5>
                        <a [routerLink]="['/transferencias']">
                            <div id="misTarjetasD">
                                <p id="textoD">
                                    <span id="texto2D"><b>Tarjeta</b></span> <br>
                                    Nro. <span id="textoNumD">4438********8144</span> 
                                </p>
                            </div>
                        </a>
                        <p id="signoDineroD2"> <b>$00.00</b> <br><span>Cuota total a pagar</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="piePagT"> 
    <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
    <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
    <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
    <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
        <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
    <div id="logoPie">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logoPietxt">
                <p> 
                    <span style="font-size: 38px;">Banco</span>                
                    <span style="font-size: 15px;">Big Money </span> 
                </p>         
            </div>
        </a>     
    </div>
</div>