<header id="cabecera">
    <div id="logo">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logotxt">
                <p> 
                    <span style="font-size: 38px;">Banco</span><br>            
                    <span style="font-size: 15px;">Big Money </span> 
                </p>         
            </div>
        </a>     
</div>
<div id="btnCabecera">
    <ul >
        <a id="btnSalirTransferencia" [routerLink]="['/inicio']" (click)="cerrarSesion()" >Salir</a>
    </ul>
</div>
</header>
<div class="container">
    <div class="row">
        <div id="columOpciones" class="col-3">
            <a [routerLink]="['/mi-cuenta']">
                <div class="card" style="background-color: #4196F1; padding: 10px;">
                    <h3>Mi cuenta</h3>
                </div>
            </a>
            <a [routerLink]="['/mi-perfil']">
                <div class="card">
                    <h3>Mi perfil</h3>
                </div>
            </a>
            <a [routerLink]="['/tipo-transferencia']">
                <div class="card">
                    <h3>Transferencia</h3>
                </div>
            </a>
            <a [routerLink]="['/pago-tarjetas']">
                <div class="card">
                    <h3>Pagar tarjetas</h3>
                </div>
            </a>
        </div>
        <div class="col-9">
            <div id="cuadroTransferencia">
                <div id="contenidoTransferencia">
                    <div>
                        <h5 style="position: relative; left: 50px; top: 30px;">
                            Todos mis productos
                        </h5>
                        <h5 style="position: relative; left: 50px; top: 50px;">
                            Mis Cuentas
                        </h5>
                        <div style="position: relative; left: -37px; top: -30px;">
                            <a *ngIf="tipoCuentaA == true" [routerLink]="['/detalle-cuenta']">
                                <div id="cuentasA">
                                    <p id="textoA">
                                    <span id="texto1A"><b>AHO{{cuentas[0].numeroCuenta.substring(cuentas[0].numeroCuenta.length - 3)}}</b></span> <br>
                                    Nro. <span id="textoNumA">{{cuentas[0].numeroCuenta}}</span> 
                                    </p>
                                </div>
                            </a>
                            <p *ngIf="tipoCuentaA == true" id="signoDineroA1"> <b>${{cuentas[0].saldo}}</b> <br><span>Disponible</span> </p> 
                            <a *ngIf="tipoCuentaC == true" [routerLink]="['/detalle-cuenta']" [ngStyle]="{'top': tipoCuentaA == false ? '90px' : ''}">
                                <div id="cuentasC" [ngStyle]="{'top': tipoCuentaA == false ? '90px' : ''}">
                                    <p id="textoC">
                                    <span id="texto1C"><b>CORR{{cuentas[1].numeroCuenta.substring(cuentas[1].numeroCuenta.length - 3)}}</b></span> <br>
                                    Nro. <span id="textoNumC">{{cuentas[1].numeroCuenta}}</span> 
                                    </p>
                                </div>
                            </a>
                            <p *ngIf="tipoCuentaC == true" id="signoDineroC1" [ngStyle]="{'top': tipoCuentaA == false ? '27px' : ''}"> <b>${{cuentas[1].saldo}}</b> <br><span>Disponible</span> </p> 
                            <a *ngIf="tipoCuentaV == true" [routerLink]="['/detalle-cuenta']">
                                <div id="cuentasV">
                                    <p id="textoV">
                                    <span id="texto1V"><b>VIN{{cuentas[2].numeroCuenta.substring(cuentas[2].numeroCuenta.length - 3)}}</b></span> <br>
                                    Nro. <span id="textoNumV">{{cuentas[2].numeroCuenta}}</span> 
                                    </p>
                                </div>
                            </a>
                            <p *ngIf="tipoCuentaV == true" id="signoDineroV1"> <b>${{cuentas[2].saldo}}</b> <br><span>Disponible</span> </p> 
                        </div>
                        <h5 style="position: relative; left: 50px; top: auto;">
                            Mis tarjetas de crédito
                        </h5>
                        <div style="position: relative; left: -37px; top: -290px;">
                            <a [routerLink]="['/transferencias']">
                                <div id="misTarjetasD">
                                    <p id="textoA">
                                        <span id="texto2D"><b>Tarjeta</b></span> <br>
                                        Nro. <span id="textoNumD">4438********8144</span> 
                                    </p>
                                </div>
                            </a>
                            <p id="signoDineroA2"> <b>$00.00</b> <br><span>Cuota total a pagar</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="piePagT"> 
    <div class="card" id="cardRedes">
        <h4>Redes Sociales</h4>
        <br>
        <a href="https://www.facebook.com/EPNQuito" style="color: white;">
            <img src="assets/imagenes/fb.jpeg" alt="" style="position: absolute; height: 40px; width: 40px; left: -50px; top: 0px;">
            <p>
                Facebook
            </p>
        </a>
        <a href="https://www.instagram.com/epn_ecuador/" style="color: white;">
            <img src="assets/imagenes/insta.jpeg " alt="" style="position: absolute; height: 40px; width: 40px; left: -50px; top:50px;">
            <p>
                Instagram
            </p>
        </a>
        <a href="john.lazo@epn.edu.ec" style="color: white;">
            <img src="assets/imagenes/email.jpeg " alt="" style="position: absolute; height: 40px; width: 40px; left: -50px; top: 100px;">

            <p>
                Correo Electronico
            </p>
        </a> 
    </div>
    <div class="card" id="cardContacto">
        <h4>Direccion</h4> 
        <br>
        <p style="line-height: 1.5em;">
            Ladrón de Guevara <br> E11·253
        </p>
        <a href="https://goo.gl/maps/2z85j" style="color: white;">
            <p>
                Mapa
            </p>
        </a> 
    </div>
    <div class="card" id="cardServicios">
        <h4>Servicios</h4>
        <br>
        <a href="contacto.html" style="color: white;">
            <p>
                Contacto
            </p>
        </a> 
        <a href="servicios.html" style="color: white;">
            <p>
                Servicios
            </p>
        </a> 
        <a href="nosotros.html" style="color: white;">
            <p>
                Nosotros
            </p>
        </a> 
    </div>
    <div id="logoPie">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logoPietxt">
                <p> 
                    <span style="font-size: 38px;">Banco</span><br>             
                    <span style="font-size: 15px;">Big Money </span> 
                </p>         
            </div>
        </a>     
    </div>
</div>
<p id="derechosReservados">&copy; 2023 - Derechos Reservados</p>