<header id="cabecera">
    <div id="logo">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logotxt">
            <p> 
                <span style="font-size: 38px;">Banco</span>                
                <span style="font-size: 15px;">Big Money </span> 
            </p>         
        </div>
        </a>     
    </div>
    <div id="btnCabecera">
        <ul >
            <a id="btnContacto" [routerLink]="['/contacto']">Contacto</a>
            <a id="btnServicio" [routerLink]="['/servicios']">Servicio</a>
            <a id="btnNosotros" [routerLink]="['/nosotros']">Nosotros</a>
            <a id="btnBancaVirtual" [routerLink]="['/loginRegistro']">Banca-Virtual</a>
        </ul>
    </div>
    </header>
    <div id="carrucel">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div id="elementosCarrucel" class="carousel-inner">
            <div class="carousel-item active">
            <img src="assets/imagenes/index2.png" class="d-block w-100"  alt="...">
            </div>
            <div class="carousel-item">
            <img src="assets/imagenes/index3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="assets/imagenes/index4.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <img src="assets/imagenes/fondoPagina.png" alt="">   
        </div>        
    </div>
    <div id="Contenido">
        <div id="cuadroFamiliarS">
            <img src="assets/imagenes/servicios1.png" style="width: 90%; height: 50%;" alt="">
            <h5>
                <br>
                Abrir cuenta familiar
            </h5>
            <a [routerLink]="['/loginRegistro']"><button id="btnLeerS1">Crear Cuenta</button></a>
        </div>
        <div id="cuadroBasicoS">
            <img src="assets/imagenes/servicios2.png" style="width: 90%; height: 50%;" alt="">
            <h5>
                <br>
                Pagos de tarjetas
            </h5>
            <a [routerLink]="['/loginRegistro']"><button id="btnLeerS2">Crear Cuenta</button></a>
        </div>
        <div id="cuadroTransferenciaS">
            <img src="assets/imagenes/servicios3.png" style="width: 90%; height: 50%;" alt="">
            <h5>
                <br>
                Realiza transferencias
            </h5>
            <a [routerLink]="['/loginRegistro']"><button id="btnLeerS3">Crear Cuenta</button></a>
        </div>
    </div>
    <div id="piePag">
    
        <div class="card" id="cardRedes">
            <h4>Redes Sociales</h4>
            <br>
            <a href="https://www.facebook.com/EPNQuito" style="color: white;">
                <img src="assets/imagenes/fb.jpeg" alt="" style="position: absolute; height: 40px; width: 40px; left: -50px; top: 0px;">
                <p>
                    Facebook
                </p>
            </a>
            <a href="https://www.instagram.com/epn_ecuador/" style="color: white;">
                <img src="assets/imagenes/insta.jpeg " alt="" style="position: absolute; height: 40px; width: 40px; left: -50px; top:50px;">
                <p>
                    Instagram
                </p>
            </a>
            <a href="john.lazo@epn.edu.ec" style="color: white;">
                <img src="assets/imagenes/email.jpeg " alt="" style="position: absolute; height: 40px; width: 40px; left: -50px; top: 100px;">

                <p>
                    Correo Electronico
                </p>
            </a> 
        </div>
        <div class="card" id="cardContacto">
            <h4>Direccion</h4> 
            <br>
            <p style="line-height: 1.5em;">
                Ladrón de Guevara <br> E11·253
            </p>
            <a href="https://goo.gl/maps/2z85j" style="color: white;">
                <p>
                    Mapa
                </p>
            </a> 
        </div>
        <div class="card" id="cardServicios">
            <h4>Servicios</h4>
            <br>
            <a href="contacto.html" style="color: white;">
                <p>
                    Contacto
                </p>
            </a> 
            <a href="servicios.html" style="color: white;">
                <p>
                    Servicios
                </p>
            </a> 
            <a href="nosotros.html" style="color: white;">
                <p>
                    Nosotros
                </p>
            </a> 
        </div>
        
        <div id="logoPie">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logoPietxt">
            <p> 
                <span style="font-size: 38px;">Banco</span> <br>               
                <span style="font-size: 15px;">Big Money </span> 
            </p>         
            </div>
        </a>     
        </div>
    </div>
    <p id="derechosReservados">&copy; 2023 - Derechos Reservados</p>

    <div>
        <a [routerLink]="['/servicios']" id="irArriba"><button class="circle-button" (click)="scrollToTopBtnr()">
            <i class="arrow"><img src="assets/imagenes/btnRegreso.png" width="80%" height="70%" alt=""></i>
        </button></a>
    </div>