<div class="image" style="height: 97.7vh;" [ngStyle]="{'background': 'url(assets/imagenes/fondoRegistro.png)','background-size': 'cover'}">
    <div class="container">
        <button id="btnsalir" role="link" [routerLink]="['/inicio']"><p id="botonSalirtxt">Salir</p></button>
        <div id="logo">
            <img src="assets/imagenes/logo.png" alt="">
            <div id="logotxt">
                <p> <span style="font-size: 45px;">Banco</span> <br> 
                    <span style="font-size: 20px;">Big Money </span> </p>
                
            </div>
        </div>
    </div>
    <div id="cuadradoCredenciales">
        <h2 id="tituloCuadroCredenciales">Credenciales</h2>
        
        <form #credencialesForm="ngForm" (ngSubmit)="crearUsuario(credencialesForm)" id="camposCrear">
            <p>
                <label for="user" style="font-weight: bold; font-size: 20px; padding-left: 90px;">Usuario</label><br>
                <input type="text" style="margin-left: 90px; margin-top: 8px; width: 500px;" name="user" #user="ngModel" [(ngModel)]="usuario.usuario" required pattern="^(?=.*\d.*\d.*\d)[a-zA-Z0-9]{8,}$">
                <span *ngIf="user.touched && user.invalid">
                    Usuario Incorrecto
                  </span>
            </p>
            
            <p>
                <label for="password" style="font-weight: bold; font-size: 20px; padding-left: 90px;">Contraseña</label><br>
                <input type="password" style="margin-left: 90px; margin-top: 8px; width: 500px;" name="password" #password="ngModel" [(ngModel)]="usuario.contrasena" required pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[\d@.*])(?!.*\s).{8,}$">
                <span *ngIf="password.touched && password.invalid">
                    Contraseña Incorrecta
                  </span>
            </p>

            <p>
                <label for="confirmPassword" style="font-weight: bold; font-size: 20px; padding-left: 90px;">Confirmar Contraseña</label><br>
                <input type="password" style="margin-left: 90px; margin-top: 8px; width: 500px;" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="confirmPasswordValue" required >
                <span *ngIf="(confirmPassword.touched && confirmPassword.invalid) || (confirmPassword.touched && !contrasenaCoincide())" >
                    Confirmación de Contraseña Incorrecta
                </span>
            </p>

            
            <input style="margin-left: 90px; margin-top: 8px;" type="submit" value="Guardar" [disabled]="!credencialesForm.form.valid || !contrasenaCoincide()">
          </form>

    </div>    
</div>