<header id="cabecera">
    <div id="logo">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logotxt">
                <p> 
                    <span style="font-size: 38px;">Banco</span><br>                
                    <span style="font-size: 15px;">Big Money </span> 
                </p>         
            </div>
        </a>     
</div>
<div id="btnCabecera">
    <ul >
        <a id="btnSalirTransferencia" [routerLink]="['/inicio']" (click)="cerrarSesion()" >Salir</a>
    </ul>
</div>
</header>
<div class="container">
    
    <div class="row">

        <div id="columOpciones" class="col-3">
            <a [routerLink]="['/mi-cuenta']">
                <div class="card">
                    <h3>Mi cuenta</h3>
                </div>
            </a>
            <a [routerLink]="['/mi-perfil']">
                <div class="card" style="background-color: #4196F1; padding: 10px;">
                    <h3>Mi perfil</h3>
                </div>
            </a>
            <a [routerLink]="['/tipo-transferencia']">
                <div class="card">
                    <h3>Transferencia</h3>
                </div>
            </a>
            <a [routerLink]="['/pago-tarjetas']">
                <div class="card">
                    <h3>Pagar tarjetas</h3>
                </div>
            </a>
        </div>

        <div id="bienvenida">
            
            <div id="logoUser">
                <img src="https://static.vecteezy.com/system/resources/previews/005/005/840/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg" alt="" style="height: 150%; width: 150%;">
            </div>
            
                <h6 style="position: absolute; left: 700px; top: 120px; font-size: 30px;">
                    Bievenido, {{cliente.nombres}} {{cliente.apellidos}}
                </h6>
        </div>
        <div id="cuadroCambioDatos1">
            <h5 style="position: absolute; left: 40px; top: 20px;">
                Datos
            </h5>
            <div id="contenedorCambios">
                <form  #ldatosForm="ngForm" *ngIf="status==true">
                    <div>
                        <h5 style="position: absolute; left: 75px; top: 100px;">
                            Nombres y Apellidos: {{cliente.nombres}} {{cliente.apellidos}}
                        </h5>                          
                    </div>
                    
                    <div>
                        <h5 style="position: absolute; left: 75px; top: 175px;">
                            Cedula: {{cliente.cedula}}
                        </h5>                          
                    </div>
                    <div>
                        <h5 style="position: absolute; left: 75px; top: 250px;">
                            Correo Electrónico: {{cliente.correo}}
                        </h5>                         
                    </div>
                    <div>
                        <h5 style="position: absolute; left: 75px; top: 325px;">
                            Usuario: {{usuario.usuario}}
                        </h5>
    
                    </div>
                    <div>
                        <div id="botonesCambios">
                            <input id="btnEditar" type="submit" value="Editar Datos" (click)="status=false">
                        </div>
                    </div>
                </form>
                
                <form *ngIf="status==false" #miperfilEditar="ngForm" (ngSubmit)="editarDatosMiperfil(miperfilEditar)">
                    <div style="position: absolute; left: 75px; top: 100px;">
                        <h5>
                            Nombres y Apellidos: {{cliente.nombres}} {{cliente.apellidos}}
                        </h5>       
                    </div>
                    <div style="position: absolute; left: 75px; top: 175px;">
                        <h5>
                            Cedula: {{cliente.cedula}}
                        </h5>                         
                    </div>
                    <div style="position: absolute; left: 75px; top: 250px;">
                        <h5>
                            Correo Electrónico: {{cliente.correo}}
                        </h5>      
                        <!--<input type="email" name="correo" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #correo="ngModel" [(ngModel)]="clienteActualizado.correo" style="position: absolute; left: 180px; top: 0px" required>                   
                        <span *ngIf="correo.touched && correo.invalid">
                            Correo requerido
                        </span>-->
                    </div>
                    <div style="position: absolute; left: 75px; top: 325px;">
                        <h5>
                            Usuario:
                        </h5>
                        <input type="text" name="user" pattern="^(?=.*\d.*\d.*\d)[a-zA-Z0-9]{8,}$" #user="ngModel" [(ngModel)]="usuarioActualizado.usuario" style="position: absolute; left: 81px; top: 0px">
                        <span *ngIf="user.touched && user.invalid">
                            Usuario requerido
                        </span>
                    </div>
                    <div style="position: absolute; left: 75px; top: 400px;">
                        <h5>
                            Contraseña:
                        </h5>
                        <input type="password" name="password" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*@).{8,}$" #password="ngModel" [(ngModel)]="usuarioActualizado.contrasena" style="position: absolute; left: 115px; top: 0px">
                        <span *ngIf="password.touched && password.invalid">
                            Contraseña requerida
                        </span>
                    </div>
                    <div id="botonesCambios">
                        <input id="btnEditar" type="submit" value="Confirmar" [disabled]="!miperfilEditar.form.valid">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div id="piePagT"> 
    <div class="card" id="cardRedes">
        <h4>Redes Sociales</h4>
        <br>
        <a href="https://www.facebook.com/EPNQuito" style="color: white;">
            <img src="assets/imagenes/fb.jpeg" alt="" style="position: absolute; height: 40px; width: 40px; left: -50px; top: 0px;">
            <p>
                Facebook
            </p>
        </a>
        <a href="https://www.instagram.com/epn_ecuador/" style="color: white;">
            <img src="assets/imagenes/insta.jpeg " alt="" style="position: absolute; height: 40px; width: 40px; left: -50px; top:50px;">
            <p>
                Instagram
            </p>
        </a>
        <a href="john.lazo@epn.edu.ec" style="color: white;">
            <img src="assets/imagenes/email.jpeg " alt="" style="position: absolute; height: 40px; width: 40px; left: -50px; top: 100px;">

            <p>
                Correo Electronico
            </p>
        </a> 
    </div>
    <div class="card" id="cardContacto">
        <h4>Direccion</h4> 
        <br>
        <p style="line-height: 1.5em;">
            Ladrón de Guevara <br> E11·253
        </p>
        <a href="https://goo.gl/maps/2z85j" style="color: white;">
            <p>
                Mapa
            </p>
        </a> 
    </div>
    <div class="card" id="cardServicios">
        <h4>Servicios</h4>
        <br>
        <a href="contacto.html" style="color: white;">
            <p>
                Contacto
            </p>
        </a> 
        <a href="servicios.html" style="color: white;">
            <p>
                Servicios
            </p>
        </a> 
        <a href="nosotros.html" style="color: white;">
            <p>
                Nosotros
            </p>
        </a> 
    </div>
    <div id="logoPie">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logoPietxt">
                <p> 
                    <span style="font-size: 38px;">Banco</span><br>                
                    <span style="font-size: 15px;">Big Money </span> 
                </p>         
            </div>
        </a>     
    </div>
</div>
<p id="derechosReservados">&copy; 2023 - Derechos Reservados</p>