<header id="cabecera">
    <div id="logo">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logotxt">
                <p> 
                    <span style="font-size: 38px;">Banco</span>                
                    <span style="font-size: 15px;">Big Money </span> 
                </p>         
            </div>
        </a>     
</div>
<div id="btnCabecera">
    <ul >
        <a id="btnSalirTransferencia" href="#Salir-Transferenca8">Salir</a>
    </ul>
</div>
</header>
<div class="container">
    
    <div class="row">

        <div id="columOpciones" class="col-3">
            <a [routerLink]="['/mi-cuenta']">
                <div class="card">
                    <h3>Mi cuenta</h3>
                </div>
            </a>
            <a [routerLink]="['/mi-perfil']">
                <div class="card" style="background-color: #4196F1; padding: 10px;">
                    <h3>Mi perfil</h3>
                </div>
            </a>
            <a [routerLink]="['/tipo-transferencia']">
                <div class="card">
                    <h3>Transferencia</h3>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <h3>Pagar servicios básicos </h3>
                </div>
            </a>
            <a [routerLink]="['/pago-tarjetas']">
                <div class="card">
                    <h3>Pagar tarjetas</h3>
                </div>
            </a>
        </div>

        <div id="bienvenida">
            
            <div id="logoUser">
                <img src="https://static.vecteezy.com/system/resources/previews/005/005/840/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg" alt="" style="height: 150%; width: 150%;">
            </div>
            
                <h6 style="position: absolute; left: 700px; top: 120px; font-size: 30px;">
                    Bievenido, {{cuenta.nombres}} {{cuenta.apellidos}}
                </h6>
        </div>
        <div id="cuadroCambioDatos1">
            <h5 style="position: absolute; left: 40px; top: 20px;">
                Datos
            </h5>
            <div id="contenedorCambios">
                <form *ngIf="CambioModo()">
                    <div>
                        <h5 style="position: absolute; left: 75px; top: 100px;">
                            Nombres y Apellidos: {{cuenta.nombres}} {{cuenta.apellidos}}
                        </h5>                          
                    </div>
                    
                    <div>
                        <h5 style="position: absolute; left: 75px; top: 175px;">
                            Cedula: {{cuenta.cedula}}
                        </h5>                          
                    </div>
                    <div>
                        <h5 style="position: absolute; left: 75px; top: 250px;">
                            Correo Electrónico: {{cuenta.correo}}
                        </h5>                         
                    </div>
                    <div>
                        <h5 style="position: absolute; left: 75px; top: 325px;">
                            Usuario: {{usuario.usuario}}
                        </h5>
    
                    </div>
                    <div>
                        <h5 style="position: absolute; left: 75px; top: 400px;">
                            Contraseña: {{usuario.contrasena}}
                        </h5>
                        <div id="botonesCambios">
                            <button id="btnEditar" (click)="CambioModos(false)">Editar Datos</button>
                            
                        </div>
                    </div>
                </form>
                <form *ngIf="!CambioModo()" #MiPerfilForm="ngForm" (ngSubmit)="Editar(MiPerfilForm)">
                    <div style="position: absolute; left: 75px; top: 100px;">
                        <h5>
                            Nombres y Apellidos:
                        </h5>       
                        <input type="text" name="nombre" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" #nombre="ngModel" [(ngModel)]="cuenta.nombres" style="position: absolute; left: 201px; top: 0px" required>                   
                        <span *ngIf="nombre.touched && nombre.invalid">
                            Nombre requerido
                        </span>
                    </div>
                    <div style="position: absolute; left: 75px; top: 175px;">
                        <h5>
                            Cedula: {{cuenta.cedula}}
                        </h5>                         
                    </div>
                    <div style="position: absolute; left: 75px; top: 250px;">
                        <h5>
                            Correo Electrónico:
                        </h5>      
                        <input type="email" name="correo" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #correo="ngModel" [(ngModel)]="cuenta.correo" style="position: absolute; left: 180px; top: 0px" required>                   
                        <span *ngIf="correo.touched && correo.invalid">
                            Correo requerido
                        </span>
                    </div>
                    <div style="position: absolute; left: 75px; top: 325px;">
                        <h5>
                            Usuario:
                        </h5>
                        <input type="text" name="user" pattern="^(?=.*\d.*\d.*\d)[a-zA-Z0-9]{8,}$" #user="ngModel" [(ngModel)]="usuario.usuario" style="position: absolute; left: 81px; top: 0px" required>
                        <span *ngIf="user.touched && user.invalid">
                            Usuario requerido
                        </span>
                    </div>
                    <div style="position: absolute; left: 75px; top: 400px;">
                        <h5>
                            Contraseña:
                        </h5>
                        <input type="password" name="password" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*@).{8,}$" #password="ngModel" [(ngModel)]="usuario.contrasena" style="position: absolute; left: 115px; top: 0px" required>
                        <span *ngIf="password.touched && password.invalid">
                            Contraseña requerida
                        </span>
                    </div>
                    <div id="botonesCambios">
                        <input id="btnEditar" type="submit" value="Confirmar" (click)="CambioModos(true)" [disabled]="!MiPerfilForm.form.valid" >
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div id="piePagT"> 
    <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
    <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
    <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
    <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
        <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
    </div>
    <div id="logoPie">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logoPietxt">
                <p> 
                    <span style="font-size: 38px;">Banco</span>                
                    <span style="font-size: 15px;">Big Money </span> 
                </p>         
            </div>
        </a>     
    </div>
</div>