<header id="cabecera">
    <div id="logo">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logotxt">
            <p> 
                <span style="font-size: 38px;">Banco</span><br>                
                <span style="font-size: 15px;">Big Money </span> 
            </p>         
        </div>
        </a>     
    </div>
    <div id="btnCabecera">
        <ul >
            <a id="btnContacto" [routerLink]="['/contacto']">Contacto</a>
            <a id="btnServicio" [routerLink]="['/servicios']">Servicio</a>
            <a id="btnNosotros" [routerLink]="['/nosotros']">Nosotros</a>
            <a id="btnBancaVirtual" [routerLink]="['/loginRegistro']">Banca-Virtual</a>
        </ul>
    </div>
    </header>
    
    <div class="container">
        <div class="row">
            <img src="assets/imagenes/fondoPagina.png" style="height:700px;" alt="">   
        </div>        
    </div>
    <div id="Contenido">
        <div id="infoContacto">
            <form id="formContacto">
                <h1>Contactanos</h1>
                <div class="form-group m-3">
                    <label id="tituloC" style="color: rgb(255, 255, 255); font-family: Georgia, 'Times New Roman', Times, serif" for="inputEmail">Correo Electrónico</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                        placeholder="Ingrese su correo electrónico...">
                </div>
                <div class="form-group m-3">
                    <label id="tituloC" style="color: rgb(255, 255, 255); font-family: Georgia, 'Times New Roman', Times, serif" for="inputAsunto">Asunto</label>
                    <input type="text" class="form-control" id="inputAsunto" placeholder="Asunto del mensaje">
                </div>
                <div class="form-group m-3">
                    <label id="tituloC" style="color: rgb(255, 255, 255); font-family: Georgia, 'Times New Roman', Times, serif" for="FormControlTextarea">Escriba su mensaje</label>
                    <textarea class="form-control" id="FormControlTextarea" rows="3"></textarea>
                </div>
                <button id="tituloC" type="submit" class="btn btn-secondary m-3">Enviar</button>
            </form>
        </div>
    </div>
    <div id="piePag">
    
        <div class="card" id="cardRedes">
            <h4>Redes Sociales</h4>
            <br>
            <a href="https://www.facebook.com/EPNQuito" style="color: white;">
                <img src="assets/imagenes/fb.jpeg" alt="" style="position: absolute; height: 40px; width: 40px; left: -50px; top: 0px;">
                <p>
                    Facebook
                </p>
            </a>
            <a href="https://www.instagram.com/epn_ecuador/" style="color: white;">
                <img src="assets/imagenes/insta.jpeg " alt="" style="position: absolute; height: 40px; width: 40px; left: -50px; top:50px;">
                <p>
                    Instagram
                </p>
            </a>
            <a href="john.lazo@epn.edu.ec" style="color: white;">
                <img src="assets/imagenes/email.jpeg " alt="" style="position: absolute; height: 40px; width: 40px; left: -50px; top: 100px;">

                <p>
                    Correo Electronico
                </p>
            </a> 
        </div>
        <div class="card" id="cardContacto">
            <h4>Direccion</h4> 
            <br>
            <p style="line-height: 1.5em;">
                Ladrón de Guevara <br> E11·253
            </p>
            <a href="https://goo.gl/maps/2z85j" style="color: white;">
                <p>
                    Mapa
                </p>
            </a> 
        </div>
        <div class="card" id="cardServicios">
            <h4>Servicios</h4>
            <br>
            <a href="contacto.html" style="color: white;">
                <p>
                    Contacto
                </p>
            </a> 
            <a href="servicios.html" style="color: white;">
                <p>
                    Servicios
                </p>
            </a> 
            <a href="nosotros.html" style="color: white;">
                <p>
                    Nosotros
                </p>
            </a> 
        </div>
        
        <div id="logoPie">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logoPietxt">
            <p> 
                <span style="font-size: 38px;">Banco</span> <br>               
                <span style="font-size: 15px;">Big Money </span> 
            </p>         
            </div>
        </a>     
    </div>
</div>
<p id="derechosReservados">&copy; 2023 - Derechos Reservados</p>
