<header id="cabecera">
    <div id="logo">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logotxt">
            <p> 
                <span style="font-size: 38px;">Banco</span>                
                <span style="font-size: 15px;">Big Money </span> 
            </p>         
        </div>
        </a>     
    </div>
    <div id="btnCabecera">
        <ul >
            <a id="btnContacto" [routerLink]="['/contacto']">Contacto</a>
            <a id="btnServicio" [routerLink]="['/servicios']">Servicio</a>
            <a id="btnNosotros" [routerLink]="['/nosotros']">Nosotros</a>
            <a id="btnBancaVirtual" [routerLink]="['/loginRegistro']">Banca-Virtual</a>
        </ul>
    </div>
    </header>
    
    <div class="container">
        <div class="row">
            <img src="assets/imagenes/fondoPagina.png" style="height:700px;" alt="">   
        </div>        
    </div>
    <div id="Contenido">
        <div id="infoContacto">
            <form id="formContacto">
                <h1>Contactanos</h1>
                <div class="form-group m-3">
                    <label id="tituloC" style="color: rgb(255, 255, 255); font-family: Georgia, 'Times New Roman', Times, serif" for="inputEmail">Correo Electrónico</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                        placeholder="Ingrese su correo electrónico...">
                </div>
                <div class="form-group m-3">
                    <label id="tituloC" style="color: rgb(255, 255, 255); font-family: Georgia, 'Times New Roman', Times, serif" for="inputAsunto">Asunto</label>
                    <input type="text" class="form-control" id="inputAsunto" placeholder="Asunto del mensaje">
                </div>
                <div class="form-group m-3">
                    <label id="tituloC" style="color: rgb(255, 255, 255); font-family: Georgia, 'Times New Roman', Times, serif" for="FormControlTextarea">Escriba su mensaje</label>
                    <textarea class="form-control" id="FormControlTextarea" rows="3"></textarea>
                </div>
                <button id="tituloC" type="submit" class="btn btn-secondary m-3">Enviar</button>
            </form>
        </div>
    </div>
    <div id="piePagContacto">
        <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
        </div>
        <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
        </div>
        <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
        </div>
        <div class="card">
        <h3>Para ti</h3>
        <br>
        <p>
            Cuentas
            Tarjetas de crédito
            Prestamos
        </p>
        </div>
        <div id="logoPie">
        <a href="index.html">
            <img src="assets/imagenes/logo.png" alt="" style="height: 70%; width: 70%;">
        </a>
        <a href="index.html">
            <div id="logoPietxt">
            <p> 
                <span style="font-size: 38px;">Banco</span>                
                <span style="font-size: 15px;">Big Money </span> 
            </p>         
            </div>
        </a>     
        </div>
</div>