<div class="background" id="background-cuenta" style="height: 100vh;" [ngStyle]="{'background': 'url(assets/imagenes/fondoRegistro.png)','background-size': 'cover'}">
    <div class="container">
        <a [routerLink]="['/inicio']">
            <button id="btnsalir"><p id="botonSalirtxt">Salir</p></button>
        </a>
        <div id="logo">
            <img src="assets/imagenes/logo.png" alt="">
            <div id="logotxt">
                <p> <span style="font-size: 45px;">Banco</span> <br> 
                    <span style="font-size: 20px;">Big Money </span> </p>
            </div>
        </div>
    </div>
    <div id="cuadradoInicio">
        <h3 id="tituloCuadroInicio">Ingresa a tu banca web</h3>
        <div id="camposInicio">

            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" id="camposCrear">
                <p>
                    <label for="usuario" style="font-weight: 500; font-size: 30px; padding-left: 99px; padding-top: 43px;">Usuario</label><br>
                    <input type="text" style="margin-left: 99px; width: 500px;" name="usuario" #usuarios="ngModel" [(ngModel)]="usuario.usuario" >
                    <span *ngIf="usuarios.touched && usuarios.invalid">
                        Usuario es requerido
                      </span>
                </p>

                <p>
                    <label for="contrasena" style="font-weight: 500; font-size: 30px; padding-left: 99px;">Contraseña</label><br>
                    <input type="password" style="margin-left: 99px; width: 500px;" name="contrasena" #password="ngModel" [(ngModel)]="usuario.contrasena" >
                    <span *ngIf="password.touched && password.invalid">
                        Contraseña requerida
                      </span>
                </p>
                <input id="btnIniciar" style="margin-left: 90px; margin-top: 8px; font-size: 24px; " type="submit" value="Iniciar sesión" [disabled]="!loginForm.form.valid">
            </form>


        </div>
        <div id="txtInicioFinal">
            <p>No tienes una cuenta con nosotros?. <a id="ainicioS" [routerLink]="['/credenciales']">Crea una ahora</a></p>
        </div>
    </div>
</div>